*{
	padding:0;
	margin:0;
}
a {text-decoration: none;}
li{list-style: none;}
.container{
	width:600px;
	border:1px solid #ccc;
	margin:20px;
}

.comment-wrap{
	margin:20px;
}
.comment-wrap li{
	margin:5px 0px;
	padding:5px 0px;
}
.comment-wrap li:hover{
	background:  #e5ffff;
	transition: background 0.2s ease-in;
}
.comment-wrap .pic-wrap{
	width:100px;
	min-height:30px;
/*	background: red;*/
	display:inline-block;
}
.comment-wrap .pic-wrap img{
	width:50px;
	height:50px;
	border-radius:5px;
	margin-left:25px;
	vertical-align: middle;
}
.comment-wrap .comment{
	width:300px;
	display: inline-block;
}
.comment-wrap .comment .username{
	font-size:16px;
	color:#cc0000;
	/*line-height:20px;*/

}
.comment-wrap .comment .content{
	font-size:12px;
	line-height:14px;
}

/*评论框*/

.write-wrap{
	width:600px;
}
.write-wrap .form-con{
	width:600px;
}
.write-wrap .user-info{
	display: inline-block;
	margin:20px;
	width:150px;
	vertical-align: middle;
}
.write-wrap .text-con{
	display: inline-block;
	width:400px;
}
.write-wrap .user-pic{
	width:30px;
	height:30px;
	border-radius: 30px;
	display: inline-block;
}
.write-wrap .user-name {
	line-height:30px;
	width: 100px;
    margin-left: 10px;
}
.write-wrap .user-pic img{
	width:100%;
	height:100%;
	vertical-align: middle;
}
.write-wrap .write-con{
	width:300px;
	height:100px;
	vertical-align: middle;
}

.write-wrap .sub-btn{
	width: 50px;
    height: 30px;
    border-style: none;
    display: inline-block;
    margin-left: 20px;
    background: #cc0000;
    color: #fff;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
}

/*动画*/
.comments-lists-appear{
	opacity: 0.01;
}
.comments-lists-appear.comments-appear-active{
	opacity: 1;
	transition:opacity 500ms ease-in;
	
}
.comments-lists-enter{
	opacity: 0.01;
}
.comments-lists-enter.comments-enter-active{
	transition:opacity 0.5s ease-in;
	opacity: 1;
}









